@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: xx-large ;
    background-color: bisque;
}

h2 {
    font-family: 'Kanit', sans-serif;
    background-color: bisque;
}

p {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;  
}

ul {
    font-family: 'Kanit', sans-serif;
    color: bisque;  
}

h3 {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;  
}

img {
    border-radius: 80%;
}

body{
    background-color: black;
}
